<nav class="navbar navbar-expand-lg navbar-light bg-light navbar-main">
	<div class="container d-flex justify-content-between align-items-center">
		<a class="navbar-brand" href="{{#if user}}/dashboard{{else}}/{{/if}}">Elogorithms</a>

		<ul class="navbar-nav d-flex flex-row gap-3 mb-0 align-items-center">
			<li class="nav-item">
				<a class="nav-link" href="/canvas">Minimum reinforcement calculation</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="/feedback">Contact Us</a>
			</li>
			

			{{#if user}}
				<!-- Dropdown for Logged-in User -->
				<li class="nav-item dropdown">
					<a
						class="nav-link dropdown-toggle"
						href="#"
						id="userDropdown"
						role="button"
						data-bs-toggle="dropdown"
						aria-expanded="false"
					>
						{{user.name}}
					</a>
					<ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userDropdown">
						{{#if user.is_admin}}
							<li><a class="dropdown-item" href="/dashboard">Dashboard</a></li>
							<li><hr class="dropdown-divider" /></li>
						{{/if}}
						<li>
							<form action="/logout" method="GET" class="m-0 p-0">
								<button type="submit" class="dropdown-item">Logout</button>
							</form>
						</li>
					</ul>
				</li>
			{{else}}
				<!-- Login for Guests -->
				<li class="nav-item"><a class="nav-link" href="/login">Login</a></li>
			{{/if}}
		</ul>
	</div>
</nav>