<nav class="navbar navbar-main">
  <div class="container d-flex justify-content-between align-items-center">
    <a class="navbar-brand" href="/">Elogorithms</a>
    
    <ul class="navbar-nav d-flex flex-row gap-3 mb-0">
      <li class="nav-item"><a class="nav-link" href="/login">Login</a></li>
      <li class="nav-item"><a class="nav-link" href="/register">Signup</a></li>
      <li class="nav-item"><a class="nav-link" href="/feedback">Contact Us</a></li>
      <li class="nav-item"><a class="nav-link" href="/dashboard">Dashboard</a></li>
      <li class="nav-item"><a class="nav-link" href="/logout">Logout</a></li>
    </ul>

  </div>
</nav>
